name: '${PROJECT_NAME}'

x-common-build-args: &common-build-args
  NPM_CONFIG_REGISTRY: '${NPM_CONFIG_REGISTRY:-https://registry.npmjs.org}'

x-common-build-options: &common-build-options
  args:
    <<: *common-build-args

x-common-environments: &common-environments
  NODE_ENV: production

secrets:
  MONGODB_URI:
    environment: MONGODB_URI
  REDIS_URL:
    environment: REDIS_URL

services:
  # Admin frontend
  admin-frontend:
    build:
      <<: *common-build-options
      context: ./admin-frontend
    container_name: '${PROJECT_NAME}-admin-frontend'
    environment:
      <<: *common-environments
    image: '${PROJECT_NAME}/admin-frontend'
    pull_policy: never
    volumes:
      - '${ADMIN_FRONTEND_STATIC_DIR_PATH}:/static'

  # Management backend
  management-backend:
    build:
      <<: *common-build-options
      context: ./management-backend
    container_name: '${PROJECT_NAME}-management-backend'
    environment:
      <<: *common-environments
    image: '${PROJECT_NAME}/management-backend'
    ports:
      - '127.0.0.1:${MANAGEMENT_BACKEND_EXPOSE_PORT}:8000'
    pull_policy: never
    restart: always
    secrets:
      - MONGODB_URI
      - REDIS_URL

  # Ops workers ts
  ops-workers-ts:
    build:
      <<: *common-build-options
      context: ./ops-workers-ts
    container_name: '${PROJECT_NAME}-ops-workers-ts'
    environment:
      <<: *common-environments
    image: '${PROJECT_NAME}/ops-workers-tss'
    pull_policy: never
    restart: always
    secrets:
      - MONGODB_URI
      - REDIS_URL
